<div class="main">
    <p>I'll be demoing software projects here that I'm working on.</p>

    <div class="grid">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="watt-header-image"></div>
                    <a class="web-link" href="http://wattwatt.io" target="_blank">
                        <mat-card-title>WattWatt Demo</mat-card-title>
                    </a>
                </mat-card-header>
                <img mat-card-image src="../../assets/image/wattwatt_demo.png" alt="Photo of the Demo">
                <mat-card-content>
                    <p>The Crowdlending Portal for WattWatt is a user interface for discovering solar 
                        projects seeking loans, review their information, and connect one's 
                        financial account to contribute capital.
                    </p>
                
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="dex-header-image"></div>
                    <a class="web-link" href="https://dexgriddemo.web.app" target="_blank">
                        <mat-card-title>DexGrid Demo</mat-card-title>
                    </a>
                </mat-card-header>
                <img mat-card-image src="../../assets/image/dexgrid_demo.png" alt="Photo of the Demo">

                <mat-card-content>
                    <p>The DexGrid application is a demo for users of the DexGrid utility model. This application gives access
                        to the regulators, retail customers, and grid operators to their respective interfaces and controls.
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="vin-header-image"></div>
                    <a class="web-link" href="" target="_blank">
                        <mat-card-title>vincenz.co</mat-card-title>
                    </a>
                </mat-card-header>
                <img mat-card-image src="../../assets/image/vin.png" alt="Photo of this site">
                <mat-card-content>
                    <p>You're on it already but this is a website I built myself from scratch to offer some 
                        insight into what I've been working on.
                    </p>
                
                </mat-card-content>
            </mat-card>

    </div>

</div>