.main {
    padding: 0 1em;
    display: block;
    text-align: center;
    padding-bottom: 8em;
    background-color: #303030;
    color: white;

    overflow: hidden;
    // width: 100vh;

    @media only screen and (min-width: 400px) {
        height: 100vh;
    }
}

.grid {
    display: grid;
    grid-gap: var(--ea-grid-gap,1.5em);

    @media only screen and (min-width: 400px) {
        grid-template-columns: repeat(auto-fit,minmax(var(--ea-grid-col-min-width,22em),var(--ea-grid-col-max-width,1fr)));
    }
}

.mat-card {
    margin-top: 1em;
    background-color: #7e7a7a;

    @media only screen and (max-width: 600px) {
        width: 80%;
        margin: 0 auto;
    }
}

.watt-header-image {
    background-image: url('../../assets/icons/wattwatt.png');
    background-size: cover;
    margin-top: 0.5em;
  }

.dex-header-image {
    background-image: url('../../assets/icons/dexgrid.png');
    background-size: cover;
  }


.vin-header-image {
    background-image: url('../../assets/icons/favicon.png');
    background-size: cover;
  }

.mat-card-image {
    height: 10em;
    width: auto;
    margin: 0.5em 0em 0.8em 0em;
    padding: 0em 1em;

    @media only screen and (max-width: 600px) {
        // display: none;
        width: 7em;
        height: auto;
    }
}

.web-link {
    color: white;
    text-decoration: none;
}

.web-link:hover {
    text-decoration: underline;
}