.main {
    margin: 0 1em;
    display: block;
    text-align: center;
}

.watt-header-image {
    background-image: url('../../assets/icons/dexgrid.png');
    background-size: cover;
  }

.dex-header-image {
    background-image: url('../../assets/icons/dexgrid.png');
    background-size: cover;
  }

.mat-card-image {
    height: 10em;
    width: auto;
}