<div>
    <div class="barwrap">

        <div class="mobile">
            <button id="hamburger" flat icon>
                <span hamburger-menu icon negative></span>
            </button>
        </div>

        <div class="home">
            <button routerLink="">Home</button>
        </div>

        <aside class="buttons">
            <button routerLink="/prof">Professional Profile</button>
            <button routerLink="/writing">Writing</button>
            <button routerLink="/photo">Photography</button>
            <button routerLink="/software">Software</button>

        </aside>

    </div>
</div>