.barwrap {
    height: 7em;
    width: 100%;
    background-color: black;
}

.home {
    left: 0;
    position: absolute;
    margin-top: 1em;
    margin-left: 1em;

    button {
        height: 5em;
        width: auto;
        margin: 0.2em;
        padding: 1.9em 1.6em;
        border-radius: 0.5em;
        background-color: rgb(13, 59, 145);
        color: white;
        border-color: black;
        font-size: 0.9em;
    }
}

.buttons {
    right: 0;
    position: absolute;
    margin-top: 1em;
    margin-right: 1em;

    button {
        height: 5em;
        width: auto;
        margin: 0.2em;
        padding: 1.9em 1.6em;
        border-radius: 0.5em;
        background-color: rgb(13, 59, 145);
        color: white;
        border-color: black;
        font-size: 0.9em;
    }
}