<div class="main" mat-dialog-content>
    <p class="title">
        Interning at Monolith
    </p>

    <p class="detail">
        Monolith is a much smaller firm than others I later worked in, 
        such as SolarCity or Arcadis, employing less than 80 staff. 
        However, I find that my time there taught me at least as much, 
        perhaps more, than at the larger firms. Here is where I picked up 
        my first responsibilites as a professional engineer. <br> <br>
        I intially began speaking with the team at Monolith by 
        asking if I could work in their sales department or whatever 
        was available so I could get my foot in the door at a solar PV 
        firm. However, they felt they had a greater need for a permit 
        coordinator. During my time handling building permits, I 
        was responsible for handling incoming and outgoing permit 
        applications with the multiple levels of goverment solar projects 
        are required to report to. My main challenges here were keeping up 
        with intial backlog and refining my own process to better 
        catch permit issuers when they are in the office.
        <br> <br>
        However, in my own time I asked if I could take home some electric 
        three line diagrams to study and understand, as I didn't want to 
        stay in the permitter position long term but rather design systems. 
        When I sufficiently displayed my working knowledge of design work 
        and brought in a friend to work as the permit coordinator, I was 
        moved up to the position of system design intern. Initially I was 
        working closely with the CEO of Monolith to grow my knowledge and 
        en route to a full time position after graduation. However, my time 
        was cut short because of the offer to work at Arcadis, a much larger 
        firm where I felt at the time I could end up with a more diverse 
        set of experience before graduating. I found another friend to move 
        into the permitter position and offered to train the first friend 
        to replace me at my design position.
    </p>
</div>