<div class="main" mat-dialog-content>
    <p class="title">Working on WattWatt</p>
    <p class="detail">Working on building my first company for the last 2 years has taught 
        me, I believe, more than 4 years at university or 4 years at SolarCity and Tesla. 
        <br> <br> 
        Initially, my focus was on growing my 
        knowledge of capital organization and regulation. WattWatt is distrupting 
        how project finance is attained and organized for solar PV installations 
        but this is a space where there are heavy money and securities regulations. 
        In addition, the solar space has benefited from improved capitalization 
        methods and I felt it ws important to understand them first. In addition 
        to growing my knowledge in this space through reading pure regulation 
        material and SEC disclosures of previous securitization of solar PV 
        financial vehicles, I consistently attended solar industry conferences 
        to keep myself up to date in the movements of the space. 
        <br> <br>
        From there, my focus was on building out my knowledge and skillsets 
        in the blockchain space. WattWatt leverages the capability of 
        programmable contracts on blockchain ledgers to automate financial 
        services, such as escrow, accountability, repayment, and asset listing 
        and transfer. My intial intent was to simply understand the technology 
        and eventually hire a team, which is still the intent. However, 
        I found that the resources available online were enough for me to teach 
        myself and bootstrap a working demo, available online now. Important
        to note is that the space is primarily open-source, therefore the 
        resources are available to anyone with an internet connection.
        <br> <br>

    </p>
</div>