<div class="main">
    <div class="title">
        <h1>Hi, I'm Vincenz Buhler</h1>

        <p>Engineer // Entrepenuer // Writer // Researcher</p>
    </div>
    <hr>

    <div class="contact">

        <button mat-raised-button color="warn" class="message" (click)="message()">Leave me a Message!</button>
    </div>
    <hr>
    <div class="work">
        <p>And right now, I am looking for how I can help others on their projects!</p>
        <p>Reach out if you'd like me to come onboard for temporary work in the areas I'm experienced in. If that's not the
            case but you'd like to give it a shot, I am also looking for work where I learn and solve problems on the fly.
        </p>
    </div>
</div>


<!-- <app-bottom></app-bottom> -->