
    <div class="title">
        <h1>Hi, I'm Vincenz Buhler</h1>
        <p>This is my page, where you can find </p>
        
        <ul>
            <li>My professional profile</li>
            <li>Information about me</li>
            <li>Some of my writing</li>
            <li>Photos I have taken along the way</li>
            <li>Software projects I'm working on, on the side</li>
        </ul>
    </div>
    <hr>

    <div class="contact">
        <p>How to get in contact:</p>
        <a href="https://www.linkedin.com/in/vincenz/">My LinkedIn</a>
        <!-- <app-contact></app-contact> -->
        <p style="margin-bottom: 0.5em;">My Email:</p> 
        <p style="margin-top: 0.5em;">vincenzbuhler@gmail.com</p>

        <a href="https://github.com/vincenz5">Checkout my Github</a>
    </div>
<hr>
    <div class="work">
        <p>And right now I am looking for how I can help others on their proejcts!</p>
        <p>Reach out if you'd like me to come onboard for temporary work in the areas
            I'm experienced in. If that's not the case but you'd like to give it a shot,
            I am also looking for work where I learn and solve problems on the fly.
        </p>
    </div>
    
