.title {
    display: block;
    margin: 0.5em 1em;
    // width: 50%;

    @media (min-width: 600px) {
        margin: 0.5em auto;
        width: 50%;
    }

    h1 {
        width: 70%;
        display: block;
        // margin: 0.5em auto;
    }
}

.contact {
    display: block;
    margin: 0.5em 1em;
}

.work {
    display: block;
    margin: 0.5em 1em;
    padding: 1em 1em;
    background-color: rgba(124, 192, 192, 0.329);
}