.main {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-bottom: 4em;
}

.image {
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: block;
    border-radius: 0.2em;
}