.title {
    margin-top: 0em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.main {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-bottom: 10em;
    background-color: rgb(59, 57, 57);
    color: white;
    // height: 100%;
    padding-top: 1em;
}

mat-tab {
    padding-top: 2em;
}

.image {
    width: 70%;
    height: auto;
    margin: 2em auto;
    position: relative;
    display: block;
    border-radius: 0.2em;
}

mat-tab-group {
    z-index: 0;
    position: relative;
}