<div class="main">
    <!-- <p>Page Under Construction</p> -->

    <p style="margin-top: 0em;">This is a page for checking out my photography as I travel and capture new places on camera.</p>
    <p>Camera is a Nikon D5600 and images are edited on Adobe Lightroom.</p>


    <mat-tab-group>
        <mat-tab label="Oman">
            <img class="image" src="../../assets/image/oman/desert-sand.jpg" alt="">

        </mat-tab>
        <mat-tab label="Puerto Rico">
            <img class="image" src="../../assets/image/pr/pr-jump.jpg" alt="">
        </mat-tab>
        <mat-tab label="Colombia">
            <img class="image" src="../../assets/image/colombia/hammock.jpg" alt="">
            <img class="image" src="../../assets/image/colombia/fog-cables.jpg" alt="">
            <img class="image" src="../../assets/image/colombia/night-lights.jpg" alt="">

        </mat-tab>
        <mat-tab label="Florida">
            <img class="image" src="../../assets/image/florida/sunset1.jpg" alt="">
            <img class="image" src="../../assets/image/florida/dock.jpg" alt="">
            <img class="image" src="../../assets/image/florida/sunset2.jpg" alt="">
            <img class="image" src="../../assets/image/florida/dock-sunset.jpg" alt="">
        </mat-tab>
    </mat-tab-group>
</div>