<div class="main">
    <p class="title">
        Volunteering at Warm heart
    </p>

    <p class="detail">
        I spent several months as a gap semester between high school and college
        volunteering at a childrens home in northern Thailand, near the town of 
        Phrao. My duties were split between helping educating and taking care of 
        a group of about 20 at-risk Thai hill tribe children and offering assistance 
        with a pig farm biogester project. This project was led by the University of 
        Chiang Mai as a pilot project for nation-wide pig farms. Traditionally, these 
        farms dispose of their pig feces by dumping them into the rivers, contaminating 
        water passing through populations and putting those people at risk of 
        e coli and other pathogens. Through pressure and heat inside the biodigestor, not
        only are these pathogens eliminated but through an anaerobic process, methane 
        gas is generated. This was made usable for both the pig farm's modified electric 
        generator and local towns. The solid waste was dried in concrete pans and used for 
        high quality fertilizer.
    </p>

    <p>Incidentally, my engineering degree capstone project was the design of a much larger
        pig farm biodigestor, four years later.
    </p>
</div>