.title {
    text-align: center;
    margin-bottom: 2em;

    h1 {
        margin-bottom: 0.1em;
    }
}

#sustain {
    color: rgb(76, 221, 76);
}

.summary {
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
}

.resume {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}