<div class="main">
    <div class="title">
        <h1>Welcome to my professional profile</h1>
        <p>Here you can read up on what I'm up to and how I got here.</p>
    </div>

    <div class="summary">
        <p>To understand why I'm working on all this, it's vital to understand my passion:</p>
        <p id="sustain">Energy sustainability</p>
    </div>

    <hr>

    <div class="resume">
        <h4>My Resume</h4>

        <hr>

        <p>Chief Executive Officer and founder at WattWatt [September 2017 - current]</p>
        <p>Based in San Juan, Puerto Rico</p>
        <p>WattWatt seeks to solve the capitalization holdback in the solar energy space by 
            offering opportunities for regular people to lend capital to projects seeking funding.
        </p>
        <p>Solar PV projects are currently facing interest rates of up to 18% in Mexico 
            and 10% in Puerto Rico.
        </p>

        <hr>

        <p>Chief Operations Officer and cofounder at DexGrid [April 2019 - current]</p>
        <p>Based in San Juan, Puerto Rico</p>
        <p>DexGrid is creating a system for grid users to pay each other for electricity in
            a seamless manner.
        </p>
        <p>Employing IoT devices capable of securely holding customers' funds, these devices
            connect with one another virtually on a electric market facilitated by DexGrid.
        </p>

        <hr>

        <p>Residential PV Team Lead at Tesla Energy [December 2016 - August 2017]</p>
        <p>Brought on a new team of 30 Mexican engineers to design residential 
            systems for the US and Mexico</p>

        <hr>

        <p>Residential PV Designer at SolarCity [April 2015 - November 2016]</p>
        <p>Used AutoCAD to design solar photovoltaic rooftop systems in
             coordination with sales and operations</p>
        <p>Trained newly hired designers in order to grow design team in Roseville office</p>
        <p>Relocated to Mexico City in 2016 to design the original Mexico residential 
            systems for SolarCity</p>
        <p>Interviewed, hired, and trained new group of Mexico technical drafters to help 
            the company save substantial amounts of money on every residential design</p>

        <hr>

        <p>Technical Intern, ARCADIS U.S. [September 2014- December 2014]</p>
        <p>Reviewed energy efficiency applications for NYSERDA incentive program and 
            conducted on-site inspections</p>

        <hr>

        <p>Engineering Intern, Monolith Solar [July 2014- September 2014]</p>
        <p>Designed electrical 3-line and layout diagrams for solar panel installations</p>
        <p>Worked with New York State municipalities to attain building, electrical, and 
            zoning permits</p>

        <hr>

        <p>Undergraduate Researcher, Baruch ’60 Center for Biochemical Solar Energy Research 
            [March 2012- December 2012]</p>
        <p>Synthesized reagents for research of photosynthesis energy production</p>
        <p>Collaborated on four person research team to write research paper on hemoglobin complex</p>

        <hr>

        <p>Volunteer, Warm Heart Worldwide, Phrao, Chiang Mai, Thailand [August 2010 - December 2010]</p>
        <p>Partnered with university professors and Thai engineers on design of pig 
            farm biodigester</p>
        <p>Mapped out Phrao valley region using GPS and Google Earth to encourage tourism</p>

        <hr>

        <p>Deckhand, Smith Maritime, Morgan City, LA [July 2013 – August 2013]</p>

        <hr>

        <h4>Education</h4>

        <p>Rensselaer Polytechnic Institute, Troy, New York [Graduated December 2014]</p>
        <p>Bachelor of Science in Chemical and Biological Engineering, minor in Economics</p>
        <p>Senior Chemical Process Design: Biodigester, methanol plant sequence design on Chinese pig farm</p>

        <p>The Hill School, Pottstown, Pennsylvania [Graduated May 2010]</p>

        <hr>

        <h4>Skills and Attributes</h4>

        <p>Languages: Fluent in English and Spanish, beginner German, conversational Thai</p>
        <p>Software Skills: Angular 7, Javascript, Progressive Web Application, Web3.js, 
            HTML/CSS/SCSS, Solidity, AutoCAD, Microsoft Office, Visio, MATLAB, Labview, 
            Acrobat, and NX 7.5 and beginner Solidworks, SuperPro Designer and Aspen</p>

        <p>Dual national American and German (European Union) citizen, extensive world travel, 
            residing in 5 different countries</p>

    </div>
</div>