.main {
    background-color: rgb(59, 56, 56);
    color: white;
    padding: 1em 0.5em 9em 0.4em;
}

.title {
    text-align: center;
    margin-bottom: 2em;

    h1 {
        margin-bottom: 0.1em;
    }
}

#sustain {
    color: rgb(76, 221, 76);


    p {
        margin-top: 1em;
        margin-bottom: 2em;
        font-size: 1.4em;
    }
}

.summary {
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
}

.resume {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;

    @media only screen and (max-width: 600px) {
        margin-right: 3%;
        margin-left: 3%;
    }
}

.over {
    font-size: 1.4em;
    text-decoration: solid;

}

.company {
    color: rgb(177, 82, 82);
    font-size: 1.5em;
}

.over:hover {
    font-size: 1.5em;
}

.texttitle {
    font-size: 1.6em;
    margin-top: 0em;
}

.learn {
    font-size: 0.8em;
    color: white;
    background-color: #4d4dce;
}

#website {
    margin-left: 1em;
}

.mat-dialog-container {
    padding: 0.7em;
}