<div class="main">
    <p id="title">Get in touch</p>

    <main>

            <a class="icons" href="https://github.com/vincenz5" target="_blank">
                <img class="icons" src="../../assets/icons/github.svg" alt=""/>
            </a>


            <a class="icons" href="https://medium.com/@vincenzbuhler" target="_blank">
                <img class="icons" src="../../assets/icons/medium.svg" alt="" />
            </a>


            <a class="icons" href="https://twitter.com/vincenz5" target="_blank">
                <img class="icons" src="../../assets/icons/twitterWhite.svg" alt="" />
                </a>

            <a class="icons" href="https://www.youtube.com/user/vincenz5/videos?view_as=public" target="_blank">
                <img class="icons" src="../../assets/icons/youtube.svg" alt="" />
            </a>

            <a class="icons" href="https://www.linkedin.com/vincenz" target="_blank">
                <img class="icons" src="../../assets/icons/linkedin.png" alt="" />
            </a>

    </main>
</div>