<div class="main" mat-dialog-content>
    <p class="title">
        Designing Systems at SolarCity
    </p>

    <p class="detail">
        SolarCity brought me onto their design team in Roseville, CA 
        to join a growing team of PV (photovoltaic) system designers.
        An average system design including: </p>

    <ul>
        <li>reviewing site surveyor photos and paperwork for red flags 
            and unusual needs of the building</li> <br>
        <li>designing the system specifications on AutoCAD, using 
            SolarCity software paired with CAD
        </li> <br>
        <li>drawing out the installation three line diagram, specifying 
            how the electrical wiring, stringing of the panels, tie in 
            into the building's existing electric system, 
            and electric safety mechanisms should be permitted according 
            to and then installed
        </li> <br>
        <li>project management of the installation from the sale, through 
            the preparation at the warehouse, up to and then after installation
        </li> <br>
        <li>a significant amount of quality control to ensure a perfect 
            and accelerated customer experience, something our engineering department 
            held, in my opinion, much better than any other solar installation 
            firm I know of in the residential installation space
        </li>
    </ul>

    <p>As our team worked inside the Roseville HQ, we had a strong relationship 
        with the hundreds of SolarCity sales staff around us. A major responsibility of 
        us being there was to work with these teams to improve their quality of sales 
        expectations with their customers. Since the incentive of the sales staff 
        is to increase their sales figures, they would often, at the beginning of my time at 
        Roseville, offer customers greater expectations of savings from their 
        system than was possible. <br> <br> 
        Factors causing a less favorable result than expecation 
        included shading not taken into account, smaller roof size than assumed, 
        less solar irradiance (solar energy arriving per unit of roof area) than assumed. 
        Working with these sales teams, we succeeded in decreasing the difference between 
        expectations and results, which led to a much higher rate of successful sales 
        per initial lead.
    </p>
</div>