.main {
    padding: 1em 1em;
}

.card {
    width: 95%;
    overflow: hidden;
}

.video {
    width: 90%;
    height: auto;
}

menu {
    padding-inline-start: 1.5em;
}

.letter {
    padding-left: 1em;
}

.numeral {
    padding-left: 2em;
}