.main {
    padding: 1em 1em;
    padding-bottom: 25em;
    // margin: 0 auto;
    // display: block;
    // text-align: center;
    background-color: rgb(59, 57, 57);
    color: white;
    // height: 100%;
}

.card {
    width: 95%;
    overflow: hidden;
}

.video {
    width: 90%;
    height: auto;
}

menu {
    padding-inline-start: 1.5em;
}

.letter {
    padding-left: 1em;
}

.numeral {
    padding-left: 2em;
}

mat-tab-group {
    z-index: 0;
    position: relative;
}