<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input value="name" #name name="name" #size="ngModel" [(ngModel)]="contact.name" class="form-control" matInput placeholder="Name">
        <mat-icon matSuffix>face</mat-icon>
      </mat-form-field>
    </p>
  </div>

  <div class="form-group">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input name="email" #size="ngModel" [(ngModel)]="contact.email" class="form-control" matInput placeholder="Email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </p>
  </div>

  <div class="form-group">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <input name="messafe" #size="ngModel" [(ngModel)]="contact.message" class="form-control" matInput placeholder="Message">
        <mat-icon matSuffix>chat</mat-icon>
      </mat-form-field>
    </p>
  </div>

  <div class="form-group" id="submit">
    <button mat-raised-button
      class="submit" type="submit" [disabled]="form.invalid"
      (click)="openSnackBar(message, action)"
      >SUBMIT</button>

      <button style="margin-left: 3em;" mat-raised-button
      (click)="closeDialog()"
      >CLOSE</button>
  </div>


</form>
