.emailform {
    background-color: rgb(146, 139, 139);
}

.form-group {
    height: 1.5em;
    margin-bottom: 3em;
    border-radius: 1.2em;
    width: 100%;

    input {
        border-radius: 0.4em;
        height: 100%;
        width: 100%;
        padding-left: 0.8em;
        font-size: 1em;
    }
}

.mat-form-field {
    width: 100%;
}

form {
    padding-right: 2em;
    text-align: center;
}

#message {
    height: 5em;
    width: 100%;

    input {
        height: 100%;
        width: 100%;
    }
}

.submit {
    // height: 100%;
    // width: 40%;
    // background-color: rgb(83, 83, 170);
    // background-color: rgb(105, 107, 226); 
    // border-color: rgb(105, 107, 226); 
    // width: 100%; 
    // border-radius: 1.4em;
}

#submit {
    margin-bottom: 0.2em;
}

.submit:hover {
    // padding: 0.3em;
}