<div class="main" mat-dialog-content>
    <p class="title">
        Studying Chemical Engineering and Economics
    </p>

    <p class="detail">
        I chose the biochemical and chemical engineering degree 
        at RPI because of my passion for renewable energy. It made 
        sense to me that to improve human energy systems, one should understand 
        the properties of energy and engineering techniques for controlling it.
        <br> <br>
        Also, I attained a minor in economics, which I found to be a solid 
        companion for my interests to keep my skillset multidisciplinary and useful. 
        <br> <br>
        During my time at RPI, I was on the varsity rowing team, competing around 
        the northeast US, as well as a travel team member and officer at RPI's EWB 
        (Engineers Without Borders), and a member of the Alpha chapter of Theta Xi, a 
        national fraternity primarily at engineering schools. As a travel team member 
        at EWB, I was key in the system design of a rainwater collection and filtration 
        system that was successfully installed by a town of about 300 people on Isla Popa II, 
        a relatively remote island in Panama near Bocas del Toro.
    </p>
</div>