<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav (click)="sidenav.toggle()" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar id="sidebutton">Menu</mat-toolbar>
    <mat-nav-list class="sidenavcontent">
      <a mat-list-item  routerLink="/prof">Professional Profile</a>
      <a mat-list-item  routerLink="/writing">Writing</a>
      <a mat-list-item  routerLink="/photo">Photography</a>
      <a mat-list-item  routerLink="/software">Software</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary"> -->
      <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a href=""><p id="title">Home</p></a>

      <div class="links">
        <a routerLink="/prof">Professional</a>
        <a routerLink="/writing">Writing</a>
        <a routerLink="/photo">Photography</a>
        <a routerLink="/software">Software</a>
      </div>

    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
