<div class="main" mat-dialog-content>
    <p class="title">
        Learning Both Foreign and Computer Languages
    </p>

    <p class="detail">
        I grew up with a Colombian family on my mother's side and 
        visited Colombia with my mom every year as a child. By now, I 
        have been in almost every Latin American country and lived in 
        three of them. I see a very positive trajectory for this region 
        in the next few decades and have focused my companies based on this.
        <br> <br>
        While I used some Python and MATLAB in university for research and 
        homework, I picked up front end and back end software skills while 
        building out the demo I needed to raise funds for WattWatt and DexGrid. 
        The websites and web applications for both firms were written by me using 
        front end code such as HTML, CSS (using SCSS), JavaScript (primarily now 
        on an Angular 7 and 8 framework) (using TypeScript for type checking). 
        <br> <br>
        In addition, I've implemented the 
        ability on these applications for interaction with the Ethereum blockchain 
        and smart contracts I've deployed on the blockchain. This was done 
        using the Web3.js library for the interface GUI and the Solidity 
        language for the smart contracts.
        <br> <br>
        In my functions at WattWatt and DexGrid, I regularly rely on Microsoft Excel 
        and OneNote to organize projections and strategy with my partners, in 
        addition to presenting to prospective and current investors in our firms.
    </p>
</div>