<div class="main" mat-dialog-content>
    <p class="title">
        Working at Arcadis
    </p>

    <p class="detail">
        Arcadis is an international, technical consulting firm. During
        my internship at the Clifton Park, NY office, I was brought on to
        audit applications for NYSERDA (New York State Energy Research and Development Authority)
        incentives. These incentives were tens of thousands of dollars per project, mostly
        for energy efficient retrofits such as lighting or ventilation equipment at commercial
        facilities.
    </p>
</div>