<div class="main">
    <mat-toolbar class="example-toolbar" id="sidebutton">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <a style="text-decoration: none;" href="">
            <p id="title">Home</p>
        </a>

        <div class="links">
            <a routerLink="/prof">Professional</a>
            <a routerLink="/writing">Writing</a>
            <a routerLink="/photo">Photography</a>
            <a routerLink="/software">Software</a>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav class="sidenav" fixedInViewport>
            <mat-nav-list class="sidenavcontent">
                <a mat-list-item routerLink="/prof" (click)="snav.toggle()">Professional Profile</a>
                <a mat-list-item routerLink="/writing" (click)="snav.toggle()">Writing</a>
                <a mat-list-item routerLink="/photo" (click)="snav.toggle()">Photography</a>
                <a mat-list-item routerLink="/software" (click)="snav.toggle()">Software</a>
                <button mat-button (click)="snav.toggle()">Close Menu</button>
            </mat-nav-list>
        </mat-sidenav>

        <!-- <mat-sidenav-content> -->
            <!-- <main [@routeAnimations]="prepareRoute(outlet)">
                <router-outlet #outlet="outlet"></router-outlet>
            </main> -->
        <!-- </mat-sidenav-content> -->
    </mat-sidenav-container>
</div>
<main [@routeAnimations]="prepareRoute(outlet)" class="app-view">
        <router-outlet #outlet="outlet"></router-outlet>
    </main>

<app-bottom></app-bottom>