// .main {
//   height: 100%;
// }

main {
  // text-align: center;
  position: relative;
}

.app-view {
  // height: 100vh;
  width: 100vw;
}

app-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.sidenav-container {
  height: 8%;
  position: sticky;
  top: 0;
  overflow: visible;
}

.sidenav {
  width: 200px;
  z-index: 5;
  background-color: #303030;
  color: white;
}

.sidenav {
  @media (min-width: 600px) {
    display: none;
  }
}

.mat-icon-button {
  @media screen and (min-width: 600px) {
    display: none;
  }
}

.mat-list-base {
  padding-top: 4em;
  color: white !important;
}

.sidenav .mat-toolbar {
  // background: inherit;
  // background-color: black;
}

#sidebutton {
  height: 15%;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  height: 100%;
  background-color: black;
}

.mat-toolbar-row {
  height: 100%;

  @media (max-width: 600px) {
    height: 100%;
  }
}


#title {
  text-decoration: none;
  color: white;
}

#title:hover {
  text-decoration: underline;
}

.links {
  right: 0;
  position: absolute;
  padding-right: 0.8em;
  color: white;

  a {
    font-size: 0.9em;
    padding-right: 1em;
    text-decoration: none;
    color: white;

    @media (max-width: 600px) {
      display: none;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}

.mat-nav-list .mat-list-item {
  color: white;
}