<!-- <app-topbar></app-topbar> -->
<!-- 
<div class="drawer">
    <section>
        <a routerLink="/prof">Professional Profile</a>
        <a routerLink="/photo">Photography</a>
        <a routerLink="/software">Software</a>
        <a routerLink="/writing">Writing</a>
    </section>
</div> -->

<!-- <mat-sidenav-container>
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container> -->
  
<app-main-nav></app-main-nav>

<router-outlet></router-outlet>