<div class="main" mat-dialog-content>
    <p class="title">
        Hiring and Managing a Tesla Engineering Team
    </p>

    <p class="detail">
        My responsibility in Mexico City was to build out a team of engineering 
        professionals, hired locally in Mexico, to design solar PV installations 
        both in Mexico and the US. I conducted several hundred interviews with 
        engineers, focusing on both their technical capabilities and ability to 
        operate within a new, competitive team. <br> <br> My main challenges included 
        overcoming the lack of Spanish training material for a team with several 
        non-English speakers, the cultural difference of employees accustomed to 
        Mexican office environments, and still keeping up with a constantly increasing 
        standard of efficiency and quality at Tesla Energy engineering. <br> <br> The team, at 
        the time of my leaving to begin WattWatt, was around 40 engineers and 20 
        technical drafters, including 5 team leads promoted from within. I was 
        nominated among 3 people for the top award in the department for my work 
        building this team as well as strong assistance for the operations and sales 
        teams starting in Mexico.
    </p>
</div>