<div class="main" mat-dialog-content>
    <p class="title">
        Working in the Baruch '60 Laboratory'
    </p>

    <p class="detail">
        I worked at the Baruch '60' lab at my university, RPI, for some time while
        studying my undergraduate major. My personal interest in working here was
        to broaden both my own and humanity's understanding of biochemical 
        photosynthesis.

        <br> <br>

        While I spent some amount of time helping with this work, my primary focus
         while at the lab was helping author a paper on the binding properties of 
         hemoglobin with oxygen. I also helped with synthesis of reagents necessary 
         for the photosynthesis research. As part of my work with this and being 
         a part of the laboratory team, I was required to read a significant amount 
         of scientific literature and research on the topic and report my understanding 
         to my lab professor.
    </p>
</div>