<div class="main" mat-dialog-content>
    <p class="title">
        Building DexGrid
    </p>

    <p class="detail">
        DexGrid is a firm initially thought up and founded by my cofounder, 
        Nicolaus, an ex-Wall Street professional who moved to Puerto Rico while 
        founding both DexGrid and his other startup, Pocketh. We met at a solar energy 
        dinner we both were invited to in San Juan. <br> <br>
        My responsibility as COO has been 
        to author our technical writing, build the working demo available now, 
        advise regulators in our market on how to build rules that will lead to 
        the type of industry and solutions everyone wants, build out a pipeline of 
        technical employees to hire, and pitch and communicate with investors.
        <br> <br>
        These responsibilities are often all there on a daily basis, as my partner and 
        I am the only ones in the core staff of the firm for now.
    </p>
</div>