<div class="main" mat-dialog-content>
        <p class="title">
            Describing my passion
        </p>
    
        <p class="detail">
            I've held a passion for sustainability, focusing on sustainable energy,
            ever since I was 13 years old and began to read the scientific research 
            of humanity's effect on the Earth's environment. It seemed as clear back 
            then as it does now that we are on track for nothing less than the final 
            generations of human civilizations. Many in my generation either feel 
            hopeless about or no need to change this trajectory. Many others of 
            us feel compelled to dedicate ourselves to a solution. I like to believe 
            I'm in the second group.
            <br> <br>
            While solar photovoltaic technology has become a superior solution to 
            generating electric and, paired with today's far lower cost of battery 
            storage 
        </p>
    </div>